body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;

}

header {
	position: fixed;
	background: #22242A;
	padding: 20px;
	width: 100%;
	height: 90px;

}

.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.logout_btn {
	padding: 20px;
	background: #19B3D3;
	text-decoration: none;
	float: right;
	margin-top: -40px;
	margin-right: 40px;
	display: inline-block;
	border-radius: 2px;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	color: #fff;
	width: 150px;
	height: 60px;
	transition: 0.5s;
	transition-property: background;
}

.logout_btn:hover {
	background: #0D9DBB;
}

.sidebar {
	background: #2F323A;
	margin-top: 90px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
}

.sidebar .profile_image{
	width: 120px;
	height: 120px;
	border-radius: 100px;
	margin-bottom: 10px;
}

.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{
	background: #007bff;

}

.sidebar i{
	padding-right: 10px;
}
p{
	color: #fff;
}
.main_content { 
	height: 200px;
	position: relative;
	top: 40%;
	left: 5%;
	padding: 20px;
}
  
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.btn{
	height: 40px;
	position: relative;
	top: 40%;
	left: 5%;
	padding-bottom: 20px;
}