body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;

}

header {
	position: fixed;
	background: #22242A;
	padding: 20px;
	width: 100%;
	height: 30px;
}

.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}
.activeclass {
	background: #007bff;
}

.logout_btn {
	padding: 10px;
	background: #19B3D3;
	text-decoration: none;
	float: right;
	margin-top: -40px;
	margin-right: 40px;
	border-radius: 2px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	width: 100px;
	height: 25px;
	transition: 0.5s;
	transition-property: background;
}

.logout_btn:hover {
	background: #0D9DBB;
}

.sidebar {
	background: #2F323A;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
}

.sidebar .profile_image{
	width: 120px;
	height: 120px;
	border-radius: 100px;
	margin-bottom: 10px;
}

.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{
	background: #007bff;

}

.sidebar i{
	padding-right: 10px;
}

.container
{
	position: relative;
	width: 900px;
	height: 300px;
	margin: auto;
	padding-top: 200px;
	padding-left: 250px;
	
	
}
.container .box {
	position: relative;
	width: calc(300px - 30px);
	height: calc(250px - 30px);
	background: #ff0;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	padding-right: 150px;
}

.container .box .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;
}

.container .box:hover .icon {
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.container .box .icon .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;
}

.container .box:hover .icon .fa {
	font-size: 45px;
}
.container .box .icon .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;
}

.container .box:hover .icon .fas {
	font-size: 45px;
}

.container .box .content {
	position: absolute;
	top: 120px;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}

.container .box .content h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 24px;
	
}

.container .box:hover .content
{
	top: 100px;
	opacity: 1;
} 

.container .box .content h5 {
	margin: 0;
	padding: 0;
	color: #fff;
	
	font-size: 15px;
}

.container .box:nth-child(1) .icon
{
	background: #319635;
}

.container .box:nth-child(1)
{
	background: #4caf50;
}

.container .box:nth-child(2) .icon
{
	background: #d03852;
}

.container .box:nth-child(2)
{
	background: #f54967;
}

.container .box:nth-child(3) .icon
{
	background: #23798e;
}

.container .box:nth-child(3)
{
	background: #328fa5;
}
